#mySidebar {
    background-image: linear-gradient(to bottom, mintcream, linen, white);
}

.person-header {
    display: flex;
    justify-content: space-between;
}

#person1 {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, beige 25%, tan, chocolate);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.15);
}

#np1::after {
    content: ".";
}

#na1::after {
    content: '🎸';
}

#guitar1 {
    transform: translate(30px, 0px);
    scale: 1.8;
    mix-blend-mode: multiply;
    transition: all .5s;
}

#guitar1:hover {
    transform: translate(25px, -5px);
    scale: 2;
}

#person2 {
    overflow: hidden;
    background-image: linear-gradient(to bottom left, white, lightcyan, skyblue);
    border-radius: 20px;
    padding: 2em;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.15) ;
}

#book1 {
    transform: translate(-70px, 20px);
    scale: 1.1;
    mix-blend-mode: multiply;
    transition: all .5s;
}

#book1:hover {
    transform: translate(-55px, 20px);
    scale: 1.23;
}

#person3 {
    overflow: hidden;
    background-image: linear-gradient(to bottom, ghostwhite, gainsboro, lightgrey, gray);
    border-radius: 20px;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.15) ;
}

#gamer1 {
    transform: translate(0px, 40px);
    scale: 1.1;
    mix-blend-mode: multiply;
    transition: all .5s;
}

#gamer1:hover {
    transform: translate(0px, 30px);
    scale: 1.25;
}
